@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --animate-font-stretch: font-stretch 3s ease-in-out infinite;

  @keyframes font-stretch {
    0%,
    100% {
      font-stretch: 110%;
    }
    50% {
      font-stretch: 120%;
    }
  }
}

@layer utilities {
  /* From Mobile's Viewports */
  /* Global Styles */
  .light-gradient-background {
    @apply bg-gradient-to-br from-amber-300/30 from-10% via-slate-300/20 via-60% to-red-300/20 to-90%;
  }

  .global {
    @apply m-0 box-border p-0;
  }

  .absolute-centered {
    @apply top-1/2 left-1/2 -translate-1/2;
  }

  .typography-global {
    @apply text-center text-slate-700 font-stretch-110%;
  }

  .opening-text {
    @apply text-5xl font-semibold font-stretch-115%;
  }

  .title {
    @apply text-5xl/15 font-bold font-stretch-120%;
  }

  .subtitle {
    @apply text-3xl font-semibold font-stretch-115%;
  }

  .avatar-rounded-full {
    @apply rounded-full object-cover;
  }

  .avatar-rounded-4xl {
    @apply rounded-4xl object-cover
  }

  .col-flex {
    @apply flex flex-col;
  }

  .flex-centered {
    @apply items-center justify-center;
  }

  .mobile-to-tablet-layout {
    @apply w-9/10 gap-20;
  }

  .div-background {
    @apply rounded-2xl bg-slate-900/20 px-5 py-8 shadow-2xl shadow-slate-900/50;
  }

  .content-border {
    @apply border-2 border-slate-400 shadow-2xl shadow-slate-900/70;
  }

  .div-effect {
    @apply transition-all duration-1000 ease-in-out;
  }

  .content-effect {
    @apply transition-opacity duration-1000 ease-in-out;
  }

  .content-hover-effect {
    @apply transition-transform duration-200 hover:scale-105;
  }

  .button-hover-effect {
    @apply transition duration-200 hover:scale-110 hover:brightness-50 active:brightness-150;
  }

  /* Navbar Style */
  .navbar-style {
    @apply sticky top-0 z-20 flex rounded-b-4xl border-b border-slate-200 bg-slate-100/95;
  }

  .navbar-left-style {
    @apply w-full rounded-b-4xl bg-slate-900/30 p-2;
  }

  .navbar-right-style {
    @apply hidden;
  }

  .navbar-right-items {
    @apply rounded-3xl px-10 py-2 font-semibold transition-colors duration-200 hover:cursor-pointer hover:bg-slate-300 active:bg-slate-400;
  }

  /* About Section Styles */
  .info-content-layout {
    @apply mt-8 items-center place-self-center;
  }

  .info-image {
    @apply size-72;
  }

  .info-icon-layout {
    @apply flex justify-center gap-5 py-5;
  }

  .info-button {
    @apply cursor-pointer rounded-xl bg-slate-900/20 p-2;
  }

  .info-icon-size {
    @apply size-7;
  }

  .info-subtitle {
    @apply mt-10 font-stretch-115%;
  }

  .info-ending {
    @apply text-4xl;
  }

  /* About Me Stylings */
  .partner-container {
    @apply items-center;
  }

  .partner-image {
    @apply mb-5 size-80 place-self-center transition-transform duration-200 hover:scale-105
  }

  .pika-bio {
    @apply mb-3 text-center
  }

  .chuchu-bio {
    @apply mb-3 text-center
  }

  /* From Tablets' Viewports */
  @media screen and (min-width: 1024px) {
    /* Global Styles */
    .typography-global {
      @apply text-xl;
    }

    .opening-text {
      @apply text-9xl font-semibold font-stretch-125%;
    }

    .title {
      @apply text-7xl font-bold font-stretch-125%;
    }

    .subtitle {
      @apply text-5xl font-semibold font-stretch-120%;
    }

    /* Navbar Style */
    .navbar-left-style {
      @apply w-1/3 rounded-r-4xl rounded-bl-4xl bg-slate-900/30 p-3.5;
    }

    .navbar-right-style {
      @apply flex w-2/3 items-center justify-around;
    }

    /* About Section Styles */
    .info-content-layout {
      @apply grid grid-cols-5 px-10;
    }

    .info-image {
      @apply col-span-2 size-80;
    }

    .info-icon-layout {
      @apply justify-end py-8;
    }

    .info-button {
      @apply p-3;
    }

    .info-icon-size {
      @apply size-10;
    }

    .info-subtitle {
      @apply col-span-3 mt-0 justify-self-end text-end font-stretch-120%;
    }

    .info-ending {
      @apply text-6xl;
    }

    .partner-container {
      @apply flex-row gap-5;
    }

    .pika-bio {
      @apply text-start text-4xl
    }
    
    .chuchu-bio {
      @apply text-end text-4xl
    }
  }

  /* From Desktops' Viewports */
  @media screen and (min-width: 1440px) {
    /* Global Styles */
    .desktop-layout {
      @apply grid;
    }

    /* About Section Styles */
    .about-container-desktop-layout {
      @apply mt-20 w-4/5 max-w-[120rem] grid-cols-5 grid-rows-6 gap-10;
    }

    .about-info-desktop-layout {
      @apply col-span-3 row-span-2 text-3xl;
    }

    .about-about-desktop-layout {
      @apply col-span-2 row-span-6 h-fit;
    }

    .info-subtitle {
      @apply col-span-3 mt-0 justify-self-end text-end font-stretch-120%;
    }

    .partner-image {
      @apply size-60
    }
  }

  /* From Widescreens' Viewports */
  @media screen and (min-width: 2560px) {
    .info-content-layout {
      @apply grid grid-cols-5 px-20;
    }

    .partner-image {
      @apply size-80
    }
  }
}

/* Scrollbar Style for Chrome Windows */
.scrollbar {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
}
